* {
    margin: 0px;
}

body { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
}

header {
    background-color: black;
    padding: 10px;
    /**rgb(135, 37, 37);*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav button {
    border: none;
    margin-right: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: black;
}

#content {
    display: grid;  
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    
}

.home-description {
    
    background-color: rgb(219, 70, 70);
    padding: 15px;
}

.pizza-header {
    /**color: rgb(245, 51, 51);*/
    color: white;
    font-size: 4rem;
    margin-top: 50px;
}

.pizza-blurb {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
    color: rgb(50, 4, 4);
}

.order-button {
    box-sizing: border-box;
    padding: 5px;
    margin-top: 50px;
    width: 150px;
    height: 60px;
    border: 1px solid red;
    background-color: white;
    color: rgb(245, 51, 51);;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 2px solid rgb(144, 33, 33);
}

.home-pizza {
    
    background-image: url(./pizza.jpg);
    background-size: 100% 100%; 
}

